/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
# IDE
.idea/
*.iml
.local/
.ohos/
.cxx/
/.vscode
/.codegenie

# Build
/build
*/build
/.hvigor
.hvigor/
.hvigorrc.*

# Node
node_modules/
package-lock.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docs
/docs
/dev_docs